*
!.gitignore
!past-proposals/
!past-proposals/**
!student-life-session/
!student-life-session/resources/
!student-life-session/resources/**
!student-life-session/student_life_session.pdf
!student-life-session/student_life_session.tex
